.accordion {
  list-style: none;
}

.accordion-product-details {
  font-size: 1rem;
}

.accordion-faqs {
  border: 1px solid #ddd;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 1rem;
}

/* ACCORDION TITLE */

.accordion__title-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1c1c1c;
  width: 100%;
}

.accordion__product-details-title-btn {
  padding: 10px;
  width: 100%;
  padding: 22px 0;
}

.accordion__product-details-title {
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-weight: 900;
}

.accordion__faqs-title-btn {
  padding: 24px;
  background-color: #fafafa;
  transition: background-color var(--base-transition-duration);
}

.accordion__faqs-title {
  font-size: 1.19em;
  font-weight: 700;
}

.accordion-faqs li:first-child .accordion__faqs-title-btn {
  border-radius: 10px 10px 0 0 ;
}

.accordion-faqs li:last-child .accordion__faqs-title-btn {
  border-radius: 0 0 10px 10px ;
}

.accordion-faqs li:only-child .accordion__faqs-title-btn {
  border-radius: 10px;
}

/* END OF ACCORDION TITLE  */

/* ACCORDION ICON */

.accordion__chevron {
  width: 0.9em;
  transition: transform 0.25s;
  /* Without this the rotate animation looks weird, 
  still doesn't look the best on firefox though. */
  will-change: transform;
}

.accordion__chevron--open {
  transform: rotate(180deg);
} 

.accordion__plus-icon {
  width: 1.35em;
  transition: transform 0.25s, opacity 0.25s;
  /* Without this the rotate animation looks weird, 
  still doesn't look the best on firefox though. */
  will-change: transform;
  opacity: 0.4;
}

.accordion__plus-icon--open {
  transform: rotate(45deg);
}

/* END OF ACCORDION ICON */

/* ACCORDION CONTENT */

.accordion__content-container {
  display: grid; 
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.25s;
  border-bottom: 1px solid #e8e8e1;
}

.accordion-faqs .accordion__content-container {
  border-bottom: 1px solid #ddd;
}

.accordion-faqs li:last-child .accordion__content-container {
  border: none;
}

.accordion__content-wrapper {
  overflow: hidden;
}

.open-accordion-section {
  grid-template-rows: 1fr;
}

.accordion-faqs .accordion__content {
  padding: 0 26px 30px;
} 

.accordion__content {
  padding: 0 0 20px;
}

/* END OF ACCORDION CONTENT */

/* PRODUCT DETAILS */

.accordion__description {
  margin: 0 0 25px;
}

.accordion__details-text {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
}

.accordion__sizes-chart-img {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: block;
}

.accordion__wash-care-list {
  list-style: none
}

.accordion__wash-care-list svg {
  width: 1.65em;
}

.accordion__wash-care-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 5px;
}

/* END OF PRODUCT DETAILS */

/* FAQ's */

.accordion-faqs p {
  color: #646464;
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
}

.accordion-faqs p:not(:last-of-type, :first-of-type) {
  margin: 30px 0;
}

.accordion-faqs a {
  color: inherit;
  text-decoration: none;
  background: var(--slide-in-and-back-visible);
  background-image: linear-gradient(#1c1c1c, #1c1c1c), linear-gradient(#cccccc, #cccccc);
  /* if em is used instead of px, weird bugs will happen with the
  underline width at resizing */
  background-size: 0% 2px, 100% 2px;
  transition: background-size 0.25s ease-in-out;
  background-position-x: 0%;
}

.address__text-spacing {
  margin: 5px 0;
  border: none;
}

.faqs-address {
  margin-bottom: 30px;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  color: #646464;
}

/* END OF FAQ'S */

/* HOVER CAPABLE DEVICES */

@media screen and (hover: hover) {
  /* FAQ'S */
  .accordion-faqs a:is(:hover, :focus-visible) {
    background-size: 100% 2px, 100% 2px;
  }

  .accordion__faqs-title-btn:is(:hover, :focus-visible) .accordion__plus-icon {
    opacity: 1;
  }
  /* END OF FAQ'S */
}

/* END OF HOVER CAPABLE DEVICES */