.carousel {
  display: flex;
  position: relative;
  font-size: 1rem;
}

.recommended-products-carousel {
  display: none;
}

.carousel__btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: var(--base-black);
  border-radius: 50%;
  padding: 10px;
  line-height: 0;
}

.carousel__btn svg {
  width: 1.25em;
  color: #fff;
}

.carousel__next-btn {
  right: -18px;
}

.carousel__prev-btn {
  display: none;
  left: -18px;
}

.carousel__slider {
  /* white-space: nowrap; */
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  scroll-snap-type: x mandatory;
  gap: 30px;
  list-style: none;
  width: 100%;
  padding: 2px;
}

.carousel__slider:has(.error__message) {
  justify-content: center;
  padding: 10px 30px;
}

.carousel__slider li {
  width: calc(100% / 5);
  border-radius: 3px;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline;
}

.carousel__slider img {
  display: block;
  height: 100%;
  width: 100%;
}

/* HOVER CAPABLE DEVICES */

@media screen and (hover: hover) {
  .carousel__btn:is(:hover, :focus-visible){
    transform: translateY(-50%) scale(1.1);
  }
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

.carousel__btn:active {
  transform: translateY(-50%) scale(1);
}

@media screen and (hover: none) {
  .carousel__btn:active {
    transform: translateY(-50%) scale(1.1);
  }
}

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 900px) {
  .carousel__slider li {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 800px) {
  .recommended-products-carousel {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .carousel__slider li {
    width: calc(100% / 3);
    scroll-snap-align: center;
  }
}

@media screen and (max-width: 600px) {
  .carousel__next-btn {
    right: -10px;
  }
  
  .carousel__prev-btn {
    left: -10px;
  }
  
  .carousel__btn svg {
    width: 1em;
  }
}

@media screen and (max-width: 450px) {
  .carousel__slider li {
    width: calc(100% / 2);
  }
}

/* END OF MEDIA QUERIES */