.contact-form {
  max-width: 920px;
  margin: 0 auto;
}

.contact-form__name-email-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact-form__name-input,
.contact-form__email-input,
.contact-form__message-textarea {
  width: 100%;
  padding: 8px 10px;
  margin: 0 0 30px;
  border: 1px solid var(--base-border-color);
  line-height: var(--base-line-height);
}

.contact-form__name-input:focus,
.contact-form__email-input:focus,
.contact-form__message-textarea:focus {
  outline: none;
  border: 1px solid var(--base-black);
}

.contact-form__name-label,
.contact-form__email-label,
.contact-form__message-label {
  font-size: var(--base-font-size);
  padding: 0 0 10px;
  display: block;
  line-height: var(--base-line-height);
}

.contact-form__message-textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form__submit-btn {
  font-weight: 900;
  border-radius: 2px;
  margin-bottom: 30px;
}

.contact-form__spam-detection-disclaimer {
  font-size: 0.95rem;
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .contact-form__name-email-container {
    display: initial;
  }
}

/* END OF MEDIA QUERIES */