.contact-page-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: var(--base-page-title);
  letter-spacing: var(--base-letter-spacing);
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
  .contact-page-title {
    font-size: 1.9rem;
  }
}