.contact {
  margin: 100px 0 175px;
}

.contact-page-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 2.25rem;
  letter-spacing: var(--base-letter-spacing);
}

@media screen and (max-width: 600px) {
  .contact-page-title {
    font-size: 1.9rem;
  }

  .contact {
    margin: 0;
  }
}