@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  --base-text-color: #1c1d1d;
  --text-secondary: #646464;
  --text-tertiary: #e8e8e1;
  --base-black: #1c1d1d;
  --base-border-color: #e8e8e1;
  --base-red: #ff4f33;
  --base-green: #008000;
  --base-max-width: 1300px;
  --base-desktop-padding: 0 40px;
  --base-mobile-padding: 0 20px;
  --base-font-size: 1.075em;
  --base-page-title: 2rem;
  --base-line-height: 1.6;
  --base-letter-spacing: 0.025em;
  --base-transition-duration: 0.15s;
  --base-underline-transition-duration: 0.20s;
  --slide-in-and-back: 0% 100% / 0% 0.1em no-repeat;
  --slide-in-and-back-visible: 0% 100% / 0% 0.1em no-repeat, 0% 100% / 100% 0.1em no-repeat;
  --slide-middle-out: 50% 100% / 0% 0.1em no-repeat;
  --slide-in-and-out-visible: 100% 100% / 0% 0.1em no-repeat, 100% 100% / 100% 0.1em no-repeat;
  --slide-to-top: 0% 100% / 100% 0.1em no-repeat;
  --slide-underline-hover: 100% 0.1em;
  --slide-to-top-underline-hover: 100% 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-text-color);
  min-width: 320px;
}

/* END OF RESET */

/** REUSABLE COMPONENTS AND CLASSES */

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* AROW BUTTON COMPONENT */

.arrow-btn {
  overflow: hidden;
  padding: 11px 20px;
  position: relative;
  background-color: var(--base-black);
  transition: padding-right 0.30s;
  color: #fff;
} 

.arrow-btn::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M24 12.16L18.24 6.4v4.24H0v3.04h18.24v4.24z' /%3E%3C/svg%3E");
  position: absolute;
  width: 1.45em;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  transition: right 0.25s;
}

.arrow-btn-v1 {
  letter-spacing: var(--base-letter-spacing);
  line-height: var(--base-line-height);
}

.arrow-btn-v2 {
  width: 100%;
} 

@media screen and (hover: hover) {
  .arrow-btn-v1:is(:hover, :focus-visible) {
    padding-right: 55px;
    opacity: 1;
    transition: padding-right 0.3s;
  }
  
  .arrow-btn-v1:is(:hover, :focus-visible)::after {
    right: 16px;
    transition: right 0.3s;
  }

  .arrow-btn-v2:is(:hover, :focus-visible) {
    padding-right: 50px;
  }
  
  .arrow-btn-v2:is(:hover, :focus-visible)::after {
    right: 30px;
    transition: right 0.3s;
  }
}

.arrow-btn:active {
  opacity: 0.7 !important;
  transition: all var(--base-transition-duration) !important;
}

/* END OF AROW BUTTON COMPONENT */

/* CUSTOM TEXT UNDERLINE ANIMATION COMPONENT */

.slide-in-and-back-visible-underline {
  background: var(--slide-in-and-back-visible);
  background-image: linear-gradient(var(--base-text-color), var(--base-text-color)), linear-gradient(#cccccc, #cccccc);
  /* if em is used instead of px, weird bugs will happen with the
  underline width at resizing, especially for smaller size text */
  background-size: 0% 2px, 100% 2px;
  transition: background-size var(--base-underline-transition-duration) ease-in-out;
  text-decoration: none;
  color: inherit;
}

.slide-in-and-back-visible-underline:is(:hover, :focus-visible) {
  background-size: 100% 2px, 100% 2px;
}

.slide-in-and-out-visible-underline {
  background: var(--slide-in-and-out-visible);
  background-image: linear-gradient(var(--base-text-color), var(--base-text-color)), linear-gradient(#cccccc, #cccccc);
  /* if em is used instead of px, weird bugs will happen with the
  underline width at resizing, especially for smaller size text */
  background-size: 0% 2px, 100% 2px;
  transition: background-size var(--base-underline-transition-duration) ease-in-out;
  text-decoration: none;
  color: inherit;
}

.slide-in-and-out-visible-underline:is(:hover, :focus-visible) {
  background-size: 100% 2px, 100% 2px;
  background-position-x: 0%;
}

/* END OF CUSTOM TEXT UNDERLINE ANIMATION COMPONENT */

/* PAGE TITLE COMPONENT */

.page-title {
  font-size: var(--base-page-title);
  text-align: center;
  margin: 0 0 50px;
  font-weight: 900;
  letter-spacing: 0.025rem;
  font-family: "Poppins", sans-serif;
}

/* END OF PAGE TITLE COMPONENT */

/** END OF REUSABLE COMPONENTS AND CLASSES */

/* MAIN */

main {
  margin: 60px auto;
  max-width: 1300px;
  padding: 0 40px;
  min-height: 100vh;
}

.main-home {
  margin: 60px auto;
  max-width: none;
  padding: 0;
  margin: 0;
}

.main-home__content {
  max-width: var(--base-max-width);
  margin: 100px auto;
  padding: var(--base-desktop-padding);
}

.main-about {
  max-width: 1000px;
}

.main-contact {
  margin: 100px auto 175px;
  max-width: 1000px;
  min-height: 50vh;
}

.main-not-found {
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
}

/* END OF MAIN */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }

  /* MAIN*/
  main {
    padding: var(--base-mobile-padding);
    margin: 30px auto;
  }

  .main-contact {
    margin: 30px auto;
  }

  .main-home__content {
    padding: var(--base-mobile-padding);
    margin: 60px auto 30px;
  }
  /* END OF MAIN */

  .page-title {
    font-size: 1.9rem;
    margin: 0 0 30px;
  }
}

/* END OF MEDIA QUERIES */