@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  --text-main-color: #1c1d1d;
  --base-max-width: 1300px;
  --base-desktop-padding: 0 40px;
  --base-mobile-padding: 0 20px;
  --base-font-size: 1.075em;
  --base-page-title: 2rem;
  --base-line-height: 1.6;
  --base-letter-spacing: 0.025em;
  --base-transition-duration: 0.15s;
  --base-underline-transition-duration: 0.20s;
  --slide-in-and-back: 0% 100% / 0% 0.1em no-repeat;
  --slide-in-and-back-visible: 0% 100% / 0% 0.1em no-repeat, 0% 100% / 100% 0.1em no-repeat;
  --slide-middle-out: 50% 100% / 0% 0.1em no-repeat;
  --slide-in-and-out-visible: 100% 100% / 0% 0.1em no-repeat, 100% 100% / 100% 0.1em no-repeat;
  --slide-to-top: 0% 100% / 100% 0.1em no-repeat;
  --slide-underline-hover: 100% 0.1em;
  --slide-to-top-underline-hover: 100% 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
  min-width: 320px;
}

/* END OF RESET */

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* MAIN */

main {
  margin: 60px auto;
  max-width: 1300px;
  padding: 0 40px;
  min-height: 100vh;
}

.main-home {
  margin: 60px auto;
  max-width: none;
  padding: 0;
  margin: 0;
}

.main-home__content {
  max-width: var(--base-max-width);
  margin: 100px auto;
  padding: var(--base-desktop-padding);
}

.main-about {
  max-width: 1000px;
}

.main-contact {
  margin: 100px auto 175px;
  max-width: 1000px;
  min-height: 50vh;
}

.main-not-found {
  font-family: "Poppins", sans-serif;
  min-height: 50vh;
}

/* END OF MAIN */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }

  /* MAIN*/
  main {
    padding: var(--base-mobile-padding);
    margin: 30px auto;
  }

  .main-contact {
    margin: 30px auto;
  }

  .main-home__content {
    padding: var(--base-mobile-padding);
    margin: 60px auto 30px;
  }
  /* END OF MAIN */
}

/* END OF MEDIA QUERIES */