@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
  --text-main-color: #1c1d1d;
  --base-max-width: 1300px;
  --base-desktop-padding: 0 40px;
  --base-mobile-padding: 0 20px;
  --base-font-size: 1.075em;
  --base-line-height: 1.6;
  --base-letter-spacing: 0.025em;
  --base-transition-duration: 0.15s;
  --base-underline-transition-duration: 0.20s;
  
  
  --slide-in-and-back: 0% 100% / 0% 0.1em no-repeat;
  --slide-middle-out: 50% 100% / 0% 0.1em no-repeat;
  
  --slide-underline-hover: 100% 0.1em;

}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-main-color);
  min-width: 320px;
}

/* END OF RESET */

.visually-hidden { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

/* NAVBAR */

.announcement {
  background-color: #1c1d1d;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 0 20px;
}

.announcement__text {
  padding: 10px 0;
  letter-spacing: 0.075em;
}

.header-nav {
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #e8e8e1;
  background-color: #fff;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 15px 40px;
  background-color: #fff;
}

.nav-menu__logo {
  width: 200px;
}

.nav-menu__links {
  justify-self: center;
  color: #4a4d4d;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 1.2em;
}

.nav-menu__links a {
  transition: color var(--base-transition-duration);
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(#008000, #008000);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size var(--base-underline-transition-duration) ease-in-out, color var(--base-transition-duration);
}

.nav-menu__links a.active {
  font-weight: 700;
}

.nav-menu__btns {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
}

.menu-btn {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  transition: color var(--base-transition-duration);
}

.menu-btn__icon {
  width: 1.8em;
}

.nav-menu__cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-menu__cart-icon {
  width: 1.8em;
  transition: color var(--base-transition-duration);
}

.nav-menu__cart-notif-icon {
  position: absolute;
  bottom: -2px;
  right: -2px;
  height: 1.0625em;
  width: 1.0625em;
  background-color: #ff4f33;
  border-radius: 10px;
  border: 2px solid #fff;
}

/* END OF NAVBAR */

/* MAIN */

main {
  margin: 60px auto;
  max-width: 1300px;
  padding: 0 40px;
  min-height: 100vh;
}

.main-home {
  margin: 60px auto;
  max-width: none;
  padding: 0;
  min-height: 100vh;
  margin: 0;
}

.main-home__content {
  max-width: var(--base-max-width);
  margin: 100px auto;
  padding: var(--base-desktop-padding);
}

@media screen and (max-width: 600px) {
  main {
    padding: var(--base-mobile-padding);
  }

  .main-home__content {
    padding: var(--base-mobile-padding);
  }
}

/* END OF MAIN */

/* FOOTER */

footer {
  background-color: #1c1d1d;
  color: #fff;
  padding: 80px 0 40px;
  font-size: 1rem;
  --footer-base-text: 0.95em;
  --footer-base-title: 1.125em;
  --footer-medium-text: 1.05em;
}

.footer-content-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

footer h2 {
  font-size: var(--footer-base-title);
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  color: #e8e8e1;
}

.footer-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 0 50px;
  justify-items: center;
}

.footer-title img {
  width: 12.5em;
}

.footer-title a {
  display: block;
  line-height: 0;
}

.footer-title__desc {
  color: #e8e8e1;
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  font-size: var(--footer-base-text);
}

.footer-links__list {
  list-style-type: none;
}

.footer-links__list a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: var(--footer-medium-text);
  margin-bottom: 14px;
  background-image: linear-gradient(#fff, #fff);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size var(--base-underline-transition-duration) ease-in-out;
}

.footer-newsletter__desc {
  line-height: var(--base-line-height);
  letter-spacing: var(--base-letter-spacing);
  margin: 0 0 20px 0;
  font-size: var(--footer-base-text);
}

.footer-newsletter__input-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}

.footer-newsletter__email-label {
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.footer-newsletter__email-icon {
  width: 1.56em;
  color: white;
}

.footer-newsletter__input {
  padding: 8px 10px 8px 45px;
  width: 100%;
  background-color: #1c1d1d;
  border: 1px solid rgba(255, 255, 255, .12);
  font-size: var(--footer-medium-text);
}

.footer-newsletter__input:focus::placeholder {
  color: #fff;
}

.footer-newsletter__input:focus {
  outline: 1px solid #fff;
}

.footer-newsletter__btn {
  width: 100%;
  background-color: #e8e8e1;
  color: black;
  padding: 8px 10px;
  font-weight: bold;
  font-size: var(--footer-medium-text);
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.footer__social-links {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.footer__social-links a {
  color: inherit;
  display: block;
  line-height: 0;
  transition: transform var(--base-transition-duration), opacity var(--base-transition-duration);
}

.footer__social-links svg {
  width: 1.8em;
}

.footer-copyright {
  text-align: center;
}

.list-payments {
  list-style-type: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px;
}

/* END OF FOOTER */

/* HOVER CAPABLE DEVICES */

@media screen and (hover: hover) {
  /* NAVIGATION MENU */
  .nav-menu__links a:is(:hover, :focus-visible) {
    color: #008000;
    background-size: 100% 0.1em;
  }

  .menu-btn:is(:hover, :focus-visible) {
    color: #6f7272;
  } 

  .nav-menu__cart-btn:is(:hover, :focus-visible) svg {
    color: #6f7272;
  }
  /* END OF NAVIGATION MENU */

  /* FOOTER */
  .footer-links__list a:is(:hover, :focus-visible) {
    background-size: 100% 0.1em;
  }

  .footer-newsletter__btn:is(:hover, :focus-visible) {
    background-color: #ff4f33;
    color: #fff;
  }

  .footer__social-links a:is(:hover, :focus-visible) {
    transform: translateY(-5px);
    opacity: 0.9;
  }
  /* END OF FOOTER */
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

  /* NAVIGATION MENU */
  .nav-menu__links a:active {
    color: #008000;
    background-size: 100% 0.1em;
  }

  .menu-btn:active {
    opacity: 0.7;
  } 

  .nav-menu__cart-btn:active svg {
    opacity: 0.7;
  }
  /* END OF NAVIGATION MENU */

  /* FOOTER */
  .footer-links__list a:active {
    background-size: 100% 0.1em;
  }

  .footer-newsletter__btn:active {
    background-color: #ff4f33;
    color: #fff;
  }
  /* END OF FOOTER */

/* END OF ACTIVE */

/* MEDIA QUERIES */

@media screen and (max-width: 920px) {
  .menu-btn {
    display: flex;
  }

  .nav-menu__links {
    display: none;
  }

  .nav-menu {
    grid-template-columns: 1fr 1fr;
  }

  .footer-info {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .footer-links {
    align-self: end;
  }

  .footer-social {
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .nav-menu {
    padding: 15px 20px;
  }

  .footer-info {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    gap: 50px;
  }

  .footer-links {
    align-self: start;
  }

  .footer-social {
    align-self: start;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 15px;
  }

  .nav-menu__logo {
    width: 150px;
  }

  .nav-menu__btns {
    font-size: 0.9em;
  }
}

/* END OF MEDIA QUERIES */