/* MODAL */

.modal-container {
  position: fixed;
  inset: 0;
  z-index: 100;
  font-size: 1rem;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.modal-content {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: -500px;
  bottom: 0;
  width: 450px;
  transition: right 0.5s;
  z-index: 150;
  display: flex;
  flex-flow: column;
  --modal-content-sides-margin: 40px;
  --modal-content-up-down-padding: 30px;
  --modal-content-items-up-down-padding: 40px;
}

.modal-header {
  border-bottom: 1px solid var(--base-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--modal-content-up-down-padding) 0;
  margin: 0 var(--modal-content-sides-margin);
}

.modal-title {
  font-size: 1.7em;
  font-weight: 900;
}

.modal-title img {
  width: 5.3em;
}

.modal-title a {
  display: block;
  line-height: 0;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4d4d;
  transition: color var(--base-transition-duration);
}

.modal__close-icon {
  width: 1.25em;
}

/* END OF MODAL */

/* SLIDE MENU */

.mobile-menu-links ul {
  margin: 0 var(--modal-content-sides-margin);
  padding: 20px 0;
}

.mobile-menu-links li {
  border-bottom: 1px solid var(--base-border-color);
}

.mobile-menu-links a {
  padding: 20px 0;
  display: block;
  transition: color var(--base-transition-duration);
}

.mobile-menu-links h2 {
  font-size: 1.45em;
  font-weight: normal;
}

.mobile-menu-links a.active {
  font-weight: 700;
}

.mobile-menu__social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  margin: 0 var(--modal-content-sides-margin);
}

.mobile-menu__social-links a {
  line-height: 0;
  display: block
}

.mobile-menu__social-links svg {
  width: 1.75em;
  transition: color var(--base-transition-duration);
}

/* END OF SLIDE MENU */

/* CART */

.items-container {
  flex: 1;
  overflow-y: auto;
  padding: var(--modal-content-items-up-down-padding) var(--modal-content-sides-margin);
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin: 0 0 25px;
}

.cart-item__product-img-link {
  align-self: start;
  line-height: 0;
}

.cart-item__product-img {
  width: 100%;
}

.cart-item__title {
  margin: 0 0 10px 0;
  display: block;
}

.cart-item__title h2 {
  font-size: 1.05em;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}

.cart-item__size {
  font-weight: normal;
  font-size: 1.05em;
  margin: 0 0 8px 0;
}

.cart-item__qty-input-container {
  display: flex;
  align-items: center;
  gap: 17px;
}

.cart-item__qty-wrapper {
  position: relative;
  outline: 1px solid var(--base-border-color);
}

.cart-item__qty-wrapper:has(.cart-item__qty-input:focus) {
  outline: 2px solid black;
  border-radius: 2px;
}

.cart-item__qty-input {
  width: 90px;
  padding: 8px 20px;
  text-align: center;
  border: none;
}

.cart-item__qty-input::-webkit-outer-spin-button,
.cart-item__qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item__qty-input {
  appearance: textfield;
  outline: none;
} 

.cart-item__remove-qty-btn, 
.cart-item__add-qty-btn {
  position: absolute;
  padding: 0 8px;
  line-height: 0;
  background-color: #fff;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.cart-item__remove-qty-btn svg, 
.cart-item__add-qty-btn svg {
  width: 0.75em;
}

.cart-item__remove-qty-btn {
  top: 0;
  left: 0;
  bottom: 0;
}

.cart-item__add-qty-btn {
  top: 0;
  right: 0;
  bottom: 0;
}

.cart-item__remove-item-btn {
  width: 0.95em;
  line-height: 0;
  transition: color var(--base-transition-duration);
}

.cart-item__qty-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item__price {
  font-weight: normal;
  font-size: 1.125em;
}

.order-note__label {
  font-size: 0.95em;
  display: block;
  font-weight: 900;
  padding: 0 0 20px;
  letter-spacing: 0.075em;
}

.order-note__textarea {
  width: 100%;
  display: block;
  resize: vertical;
  border: none;
  border: 1px solid var(--base-border-color);
  padding: 8px 10px;
  min-height: 125px;
}

.order-note__textarea:focus {
  outline: 1px solid black;
}

.cart-footer {
  border-top: 1px solid var(--base-border-color);
  margin: 0 var(--modal-content-sides-margin);
  padding: var(--modal-content-up-down-padding) 0;
  text-align: center;
}

.cart-footer__discount-code-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0 0 30px;
}

.cart-footer__discount-code-input {
  padding: 11px 16px;
  max-width: 200px;
  border: 1px solid var(--base-border-color);
  width: 100%;
}

.cart-footer__discount-code-input:focus {
  outline: 1px solid #000;
  border-radius: 3px;
}

.cart-footer__discount-code-btn {
  background-color: var(--base-black);
  border: 1px solid var(--base-black);
  color: #fff;
  padding: 10px 20px;
  border-radius: 2px;
  font-weight: 500;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.cart-footer__total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px;
  gap: 20px;
  font-size: 1.27em;
}

.cart-total__title {
  letter-spacing: 0.075em;
  font-weight: 900;
}

.cart-total__price {
  font-weight: normal;
  display: inline-block;
  word-break: break-word;
}

.cart-footer__small-text {
  margin: 0 0 20px;
  display: block;
}

.cart-footer__checkout-btn {
  border-radius: 2px;
  font-weight: 900;
  font-size: 1.15em;
}

.cart-footer .cart-footer__checkout-btn::after {
  transition: right var(--base-transition-duration);
}

/* END OF CART */

@media screen and (pointer: fine) and (hover: hover) {
  /* MODAL */
    .modal__close-btn:is(:hover, :focus-visible) {
      color: var(--base-red);
    }
  /* END OF MODAL  */

  /* SLIDE MENU */
  .mobile-menu-links a:is(:hover, :focus-visible) {
    color: var(--base-green);
  }

  .mobile-menu__social-links .social-icons__instagram-link:is(:hover, :focus-visible) svg {
    color: #fbad50;
  }
  
  .mobile-menu__social-links .social-icons__facebook-link:is(:hover, :focus-visible) svg {
    color: #316FF6;
  }
  
  .mobile-menu__social-links .social-icons__twitter-link:is(:hover, :focus-visible) svg {
    color: #1DA1F2;
  }
  
  .mobile-menu__social-links .social-icons__youtube-link:is(:hover, :focus-visible) svg {
    color: #FF0000;
  }
  /* END OF SLIDE MENU */

  /* CART */
  .cart-item__remove-qty-btn:is(:hover, :focus-visible), 
  .cart-item__add-qty-btn:is(:hover, :focus-visible) {
    background-color: var(--base-border-color);
    color: #fff;
  }

  .cart-item__remove-item-btn:is(:hover, :focus-visible) {
    color: var(--base-red);
  }

  .cart-footer__discount-code-btn:is(:hover, :focus-visible) {
    background-color: #fff;
    color: #000;
  }
  /* END OF CART */
}

/* END OF HOVER CAPABLE DEVICES */

/* ACTIVE */

  /* CART */
  .cart-item__remove-qty-btn:active, 
  .cart-item__add-qty-btn:active {
    background-color: var(--base-border-color);
    color: #fff;
  }

  .cart-footer__discount-code-btn:active {
    opacity: 0.7;
  }
  /* END OF CART */

/* END OF ACTIVE */

/* MEDIA QUERIES */

/* MODAL CONTENT */

@media screen and (max-width: 600px) {
  .modal-content {
    width: 350px;
    --modal-content-sides-margin: 25px;
    --modal-content-up-down-padding: 20px;
    --modal-content-items-up-down-padding: 20px;
  }
}

@media screen and (max-width: 380px) {
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-height: 500px) {
  .modal-content {
    overflow-y: auto;
  }

  .items-container {
    overflow: visible;
  }
}

/* END OF MODAL CONTENT */

/* END OF MEDIA QUERIES */