/* NOT FOUND HEADER */

.not-found-header {
  padding: 100px 0;
  text-align: center;
}

.not-found-header__title {
  font-size: 2.25rem;
  font-weight: 900;
  letter-spacing: 0.025rem;
}

.not-found-header__desc {
  margin: 0 0 30px;
  font-size: 0.95rem;
}

/* END OF NOT FOUND HEADER */

/* NOT FOUND CAROUSEL */

.not-found-carousel {
  margin: 100px 0 100px;
}

.not-found-carousel__title-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0 0 50px;
  align-items: center;
}

.not-found-carousel__title {
  font-size: var(--base-page-title);
  text-align: center;
  grid-column: 2 / 3;
}

.not-found-carousel__link {
  justify-self: end;
}

/* END OF NOT FOUND CAROUSEL */

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  /* NOT FOUND HEADER*/
  .not-found-header {
    padding: 60px 0;
    text-align: center;
  }

  .not-found-header__title {
    font-size: 1.85rem;
  }
  /* END OF NOT FOUND HEADER */

  /* NOT FOUND CAROUSEL */
  .not-found-carousel {
    margin: 30px 0 50px;
  }

  .not-found-carousel__title-container {
    margin: 0 0 30px;
  }

  .not-found-carousel__title {
    font-size: 1.65rem;
  }
  /* END OF NOT FOUND CAROUSEL */
}

@media screen and (max-width: 400px) {
  .not-found-carousel__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* END OF MEDIA QUERIES */