/* PRODUCT DETAILS */

.product-details-wrapper {
  font-size: 1rem;
}

.product-details-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* PRODUCT DETAILS */

/* PRODUCT BREADCRUMB */

.product-breadcrumbs {
  list-style: none;
  margin: 0 0 20px;
  font-size: 1.075em;
  line-height: var(--base-line-height);
}

.product-breadcrumbs a {
  background: var(--slide-to-top);
  background-image: linear-gradient(#d99a5a, #d99a5a);
  transition: 
    background-size var(--base-underline-transition-duration) ease-in-out, 
    color var(--base-underline-transition-duration), 
    padding var(--base-underline-transition-duration);
  color: inherit;
  text-decoration: none;
  padding: 2px 5px;
}

.product-breadcrumbs li {
  display: inline;
}

.product-breadcrumbs li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* END OF PRODUCT BREADCRUMB */

/* PRODUCT PREVIEW SLIDER */

.product-slider {
  display: flex;
  gap: 20px;
}

.product-slider__vertical-thumbs-container {
  display: flex;
  flex-flow: column;
  width: 80px;
  position: relative;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  list-style: none;
}

.product-slider__vertical-thumb {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 3px;
  transition: border var(--base-transition-duration);
}

.product-slider__main-img {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-self: start;
}

.product-image {
  width: 100%;
  height: 100%;
  transition: translate var(--base-transition-duration) ease-in-out;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
}

.slider-controls {
  display: none;
  position: relative;
  padding: 7px 0;
}

.slider-controls__prev-btn {
  display: block;
}

.slider-controls__prev-btn, 
.slider-controls__next-btn {
  width: 11%;
  top: 50%;
  height: 42%;
  transform: translateY(-50%);
  position: absolute;
  opacity: 0.8;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  border-radius: 2px;
  transition: background-color var(--base-transition-duration), color var(--base-transition-duration);
}

.slider-controls__prev-btn svg, 
.slider-controls__next-btn svg {
  width: 0.7em;
  opacity: 0.8;
}

.slider-controls__prev-btn {
  left: 0;
  display: none;
}

.slider-controls__next-btn {
  right: 0;
}

.slider-controls__carousel {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: flex;
  gap: 10px;
  list-style: none;
}

.slider-controls__carousel li {
  display: inline;
  flex-shrink: 0;
  flex-grow: 0;
  display: inline;
  width: calc(100% / 4);
}

.slider-controls__carousel-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 3px;
  max-height: 125px;
  transition: border var(--base-transition-duration);
}

.slider-controls__carousel::-webkit-scrollbar {
  display: none;
}

/* END OF PRODUCT PREVIEW SLIDER */

/* PRODUCT DETAILS INFO */

.product-details-info {
  padding-left: 30px;
}

.product-details__title {
  font-size: 2.25em;
  font-weight: 900;
  margin: 0 0 25px;
}

.product-details__price {
  font-weight: normal;
  margin: 0 0 15px;
}

.product-details__policies {
  padding: 0 0 25px;
  border-bottom: 1px solid #e8e8e1;
  font-size: 0.95em;
}

.product-details__policies-shipping-link {
  background: var(--slide-in-and-back-visible);
  background-image: linear-gradient(#1c1c1c, #1c1c1c), linear-gradient(#cccccc, #cccccc);
  transition: background-size var(--base-underline-transition-duration) ease-in-out;
  text-decoration: none;
  color: inherit;
}

.product-details__size-form {
  margin: 25px 0 30px;
}

.product-details__size-input {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -9999px;
}

.product-details__size-label:not(:last-of-type) {
  margin: 0 10px 0 0;
}

.product-details-sizes {
  display: flex;
  margin: 0 0 30px;
}

.product-details-sizes legend {
  margin: 0 0 10px;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-weight: 900;
}

.product-details__size-label {
  padding: 7px 15px;
  border: 1px solid #e8e8e1;
  font-size: var(--base-font-size);
  cursor: pointer;
  transition: background-color var(--base-transition-duration), outline var(--base-transition-duration);
  outline: 2px solid #fff;
}

.product-details__size-label:hover {
  outline: 2px solid #000;
  background-color: #f7f7f7;
}

.product-details__size-input:focus-visible + .product-details__size-label {
  outline: 2px solid #000;
  background-color: #f7f7f7;
}

.product-details__size-input:checked + .product-details__size-label {
  outline: 2px solid #000;
}

.product-details__sales-points {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 0 25px;
}

.product-details__sales-points p {
  font-size: var(--base-font-size);
}

.product-details__sales-points svg {
  width: 1.5em;
}

.product-details__submit-size-btn {
  padding: 11px 20px;
  border: 1px solid #1c1d1d;
  width: 100%;
  font-weight: 900;
  font-size: 1.125em;
  border-radius: 1px;
  margin: 0 0 10px;
  position: relative;
  overflow: hidden;
  transition: padding-right 0.30s;
}

.product-details__submit-size-btn::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M24 12.16L18.24 6.4v4.24H0v3.04h18.24v4.24z' /%3E%3C/svg%3E");
  position: absolute;
  right: -40px;
  width: 1.45em;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  transition: right var(--base-transition-duration);
}

.product-details__submit-payment {
  padding: 11px 20px;
  width: 100%;
  font-weight: normal;
  background-color: #ffc520;
  border-radius: 1px;
  font-size: 0.9em;
  color: #253b80;
  margin: 0 0 25px;
  transition: background-color var(--base-transition-duration);
  border: 1px solid #ffc520;
}

.product-details__submit-payment:is(:hover, :focus-visible) {
  background-color: #f6b600;
}

.product-details__payment-img {
  width: 4.305em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.product-details__more-payments-container {
  text-align: center;
}

.product-details__more-payments-link {
  font-size: var(--base-font-size);
  background: var(--slide-in-and-out-visible);
  background-image: linear-gradient(#1c1c1c, #1c1c1c), linear-gradient(#cccccc, #cccccc);
  transition: background-size var(--base-underline-transition-duration) ease-in-out;
  text-decoration: none;
  color: inherit;
}



/* END OF PRODCUT DETAILS INFO */

/* RECOMMENDED PRODUCTS */

.product-details-recommended {
  font-size: 1rem;
  margin: 140px 0 0;
}

.product-details-recommended__title {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  margin: 0 0 50px;
  word-spacing: 0.05em;
  letter-spacing: 0.025em;
}

.recommended-products-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}

@media screen and (max-width: 800px) {
  .recommended-products-list-grid {
    display: none;
  }
}

/* END OF RECOMMENDED PRODUCTS */

@media screen and (hover: hover) {
  
  /* SLIDER CONTROLS */
  .slider-controls__prev-btn:is(:hover, :focus-visible), 
  .slider-controls__next-btn:is(:hover, :focus-visible) {
    background-color: #000;
    color: #fff;
  }

  .product-slider__vertical-thumb:focus-visible,
  .slider-controls__carousel-img:focus-visible {
    border: 2px solid #000;
    outline: none;
  }
  /* SLIDER CONTROLS */

  /* PRODUCT DETAILS */
  .product-breadcrumbs a:is(:hover, :focus-visible) {
    background-size: var(--slide-to-top-underline-hover);
    color: #fff;
  }
  
  .product-details__policies-shipping-link:is(:hover, :focus-visible) {
    background-size: var(--slide-underline-hover), var(--slide-underline-hover);
  }

  .product-details__submit-size-btn:is(:hover, :focus-visible)::after {
    right: 30px;
    transition: right 0.30s;
  }
  
  .product-details__submit-size-btn:is(:hover, :focus-visible) {
    padding-right: 50px;
  }

  .product-details__more-payments-link:is(:hover, :focus-visible) {
    background-size: var(--slide-underline-hover), var(--slide-underline-hover);
    background-position-x: 0%;
  }
  /* END OF PRODUCT DETAILS */
}

/* ACTIVE */

  /* SLIDER CONTROLS */
  .slider-controls__prev-btn:active, 
  .slider-controls__next-btn:active {
    background-color: #000;
    color: #fff;
  }
  /* END OF SLIDER CONTROLS */

  /* PRODUCT DETAILS */
  .product-details__more-payments-link:active {
    background-size: 100% 0.1em, 100% 0.1em;
    background-position-x: 0%;
  }
  /* END OF PRODUCT DETAILS */

/* END OF ACTIVE */

@media screen and (max-width: 1000px) {
  .product-slider__vertical-thumbs-container {
    display: none;
  }

  .product-slider {
    display: block;
  }

  .product-details-info {
    padding-left: 0;
  }

  .slider-controls {
    display: flex;
    position: relative;
    align-items: center;
  }
}

@media screen and (max-width: 750px) { 
  .product-details-container {
    display: block;
  }

  .product-details-wrapper {
    max-width: 525px;
    margin: 0 auto;
  }

  .product-details-info {
    margin: 50px 0 0;
  }
}