/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
  background-color: #efefef;
  padding: 10px;
}

button:hover {
  background-color: black;
  color: #fff;
}

button, input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

html {
  font-size: 16px;
}

/* END OF RESET */

body {
  font-family: sans-serif;
}

/* NAV MAIN */

.header-nav {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid black;
  font-size: 1.25rem;
  background-color: #fff;
  z-index: 10;
}

.nav-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px 40px;
}

.nav-main ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-main__list {
  justify-self: center;
}

.nav-main__list a.active {
  color: red;
}

.nav-main__cart {
  justify-self: end;
}

/* END OF NAV MAIN */

/* HOME MENU MAIN */

main {
  margin: 150px auto 0;
  max-width: 1300px;
  padding: 0 40px;
}

/* END OF MENU MAIN */

/* PRODUCTS LIST */

.products-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* PRODUCT PREVIEW */

.product-preview__image-wrapper {
  position: relative;
  display: block;
}

.product-preview__image-wrapper img {
  width: 100%;
  display: block;
}

.product-preview__image-secondary {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.product-preview__image:hover + .product-preview__image-secondary {
  opacity: 1;
}

.product-preview__title {
  margin: 5px 0 0;
}

.product-preview__details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0;
}

/* END OF PRODUCT PREVIEW */

/* END OF PRODUCTS LIST */

/* PRODUCT DETAILS */



/* END OF PRODUCT DETAILS */